@font-face {
    font-family: 'TT Lakes';
    src: local('TT Lakes Bold'),
        local('TTLakes-Bold'),
        url(../fonts/TTLakes/TTLakes-Bold.eot) format('embedded-opentype'),
        url(../fonts/TTLakes/TTLakes-Bold.ttf) format('truetype'),
        url(../fonts/TTLakes/TTLakes-Bold.woff) format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: local('TT Lakes Regular'),
        local('TTLakes-Regular'),
        url(../fonts/TTLakes/TTLakes-Regular.eot) format('embedded-opentype'),
        url(../fonts/TTLakes/TTLakes-Regular.ttf) format('truetype'),
        url(../fonts/TTLakes/TTLakes-Regular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: local('TT Lakes Medium'),
        local('TTLakes-Medium'),
        url(../fonts/TTLakes/TTLakes-Medium.eot) format('embedded-opentype'),
        url(../fonts/TTLakes/TTLakes-Medium.ttf) format('truetype'),
        url(../fonts/TTLakes/TTLakes-Medium.woff) format('woff');
    font-weight: 500;
    font-style: normal;
}

html,
body {
    margin: 0;
    padding: 0;
}

.mobile-menu {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 320px;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.mobile-menu--style {
    background-color: white;
    box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2), -2px 0px 4px rgba(69, 79, 126, 0.02);
    font-family: 'TT Lakes';
    color: #1B1C21;
    padding: 0 24px 32px;
}

.mobile-menu__header {
    display: flex;
    margin-bottom: 18px;
}

.button {
    background-color: #FF3E79;
    border-radius: 20px;
    padding: 0;
    border: none;
    outline: none;
    height: 40px;
    width: 40px;
}

.button:hover {
    cursor: pointer;
    opacity: 0.6;
}

.button:focus {
    transition: ease-in 0.1s;
    box-shadow: 0 0 3pt 2pt red;
}

.mobile-menu__close {
    background: #FF3E79 url("../img/icons/svg/mobile-menu/close-icon.svg") no-repeat center;
    margin-top: 24px;
    margin-right: 16px;
}

.mobile-menu__logo {
    margin-top: 18.73px;
    margin-right: auto;
}

.mobile-menu__search {
    background: #FF3E79 url("../img/icons/svg/mobile-menu/search-icon.svg") no-repeat center;
    margin-top: 24px;
}

.mobile-menu__link-list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: auto;
}

.mobile-menu__link-style,
.mobile-menu__email,
.mobile-menu__phone,
.mobile-menu__language--label {
    text-decoration: none;
    color: inherit;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
}

.mobile-menu__link {
    margin: 32px 0;
    position: relative;
}

.mobile-menu__link::after {
    content: "";
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    height: 2px;
    opacity: 0;
    border-radius: 10px;
    background-color: rgba(255, 62, 121, 0.15);
    transition: opacity 0.3s, transform 0.3s;
    transform: translateX(-100%);
}

.mobile-menu__link:hover::after {
    opacity: 1;
    transform: translateX(0);
}

.mobile-menu__link-style:active {
    color: #FF3E79;
}

.mobile-menu__link--active {
    color: #7E7E82;
}

.mobile-menu__link--active::before {
    content: "";
    background-color: #41F6D7;
    border-radius: 20px;
    position: absolute;
    margin-left: -4px;
    margin-top: -4px;
    height: 32px;
    width: 8px;
    left: -24px;
}

.mobile-menu__footer {
    margin-top: 20px;
}

.mobile-menu__call {
    background: #FF3E79 url("../img/icons/svg/call-icon.svg") no-repeat center;
    margin-right: 16px;
}

.mobile-menu__chat {
    background: #FF3E79 url("../img/icons/svg/chat-icon.svg") no-repeat center;
    margin-right: 16px;
}

.mobile-menu__profile {
    background: #FF3E79 url("../img/icons/svg/profile-icon.svg") no-repeat center;
}

.mobile-menu__contact {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

.mobile-menu__phone {
    margin-top: 12px;
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
    letter-spacing: -0.6px;
}

.language {
    display: none;
}

.mobile-menu__language {
    margin-top: 40px;
}

.language-label {
    text-transform: uppercase;
    cursor: pointer;
    margin-right: 7px;
    position: relative;
}

.language-label:hover {
    color: inherit;
    transition: color 0.3s;
}

.language-label::before,
.language-label::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    content: "";
    opacity: 0;
    background-color: #7E7E82;
    transition: opacity 0.3s, transform 0.3s;
}

.language-label::before {
    top: 0;
    transform: translateY(-10px);
}

.language-label::after {
    bottom: 0;
    transform: translateY(10px);
}

.language-label:hover::before,
.language-label:hover::after {
    opacity: 1;
    transform: translateY(0);
}

.language-label:active::before {
    transform: translateY(-30px);
}

.language-label:active::after {
    transform: translateY(30px);
}

.checked {
    color: #7E7E82;
}